.dashbordWrapper {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    overflow-y: scroll;
}

.totalReport {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.chartReport {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    gap: 40px;

    .pieChartWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lineChartWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

.transactionsSummary {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 3px;

    thead {

        th {
            text-align: left;
            color: #0051ff;
            filter: drop-shadow(0 0 1px black);
        }
    }
        
    h2 {
        color: #0051ff;
    }
}

.expenceType {
    color: red;
}

.incomeType {
    color: green;
}

@media (max-width:900px) {
    .chartReport {
        flex-direction: column;
    }

    .pieChartWrapper {
        border-bottom: 1px solid;
        width: 300px;
        height: 300px;
    }

}